# This is Git's per-user configuration file.
[user]
	name = NeelavaChatterjee
	email = {{ .email }}
[url "git@github.com:"]
	insteadOf = https://github.com
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
